<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <label for="Id">Product Id: </label>
  <input id="Id" type="text" formControlName="Id">
  <label for="ProductName">Product Name: </label>
  <input id="ProductName" type="text" formControlName="ProductName">
  <label for="ProductDescription">Product Description: </label>
  <input id="ProductDescription" type="text" formControlName="ProductDescription">
  <label for="ProductPrice">Product Price: </label>
  <input id="ProductPrice" type="number" formControlName="ProductPrice">
  <label for="ProductStock">Product Stock: </label>
  <input id="ProductStock" type="number" formControlName="ProductStock">

  <button type="submit">
    Submit
  </button>
</form>